* {
  margin: 0;
  padding: 0;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  padding: 0 20px;
  background: #666;
  background: linear-gradient(#666, #333);
}
